/*-----------------------------------------------------------------------------
ESTILOS BASE TIPOGRAFÍA | VARIABLES |
--------------------------------------------------------------------------------*/



:root {
    --maxlayout: 1920px;
    --layout: 1440px;
    --layout1230: 1230px;
    --layout1170: 1170px;
    --layout990: 990px;
    --layout750: 750px;
    --darkblue: #192033;
    --middleblue: #242a40;
    --blue: #5179ff;
    --red: #ff6867;
    --yellow: #ffcc00;
  }

* {box-sizing: border-box;font-family: 'Cairo', sans-serif;}

html {scroll-behavior: smooth;}
body {margin: 0; padding: 0; }

p, input, label, textarea{font-family: 'Cairo', sans-serif;}
p{margin: 0;}
li {list-style: none; font-family: 'Cairo', sans-serif;}
a {text-decoration: none;font-family: 'Cairo', sans-serif; color: var(--white);}
