@import "settings.css";
@import "utilidades.css";

$darkblue: #141928;
$middleblue: #242a40;
$blue: #5179ff;
$red: #ff6867;
$yellow: #ffcc00;
$lightblue: #7896ce;

$radius: 7px;


.e-card{
  border-radius: 7px;
  background-color: $darkblue;
}



/*****************************************
Dashboard main
******************************************/
.l-dashboard{
  display: grid;
  grid-template-columns: 310px 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  height: 100vh;
  transition: 0.5s cubic-bezier(.68,-0.55,.27,1.55);
  @media (max-width: 1024px){
    grid-template-columns: 80px 1fr;
  }
    &__head{
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 20px;
      @media (max-width: 720px){
        grid-column: 1 / 3;
      }
      input{
        background-color: $darkblue;
        width: 60%;
        border-radius: 7px;
        color: white;
        border: none;
        padding: 2px 10px;
        height: 40px;
      }
    }
    &__content{
      grid-column: 2 / 3;
      grid-row: 2 / 4;
      padding: 20px;
      @media (max-width: 720px){
      grid-column: 1 / 3;
      }
      .l-cards{
        @media (max-width: 720px){
        justify-content: center;
        }
        &__item{
          height: 100px;
          width: calc(100% / 3);
          @media (max-width: 720px){
            width: 100%;
            margin: 10px 0;
          }
        }
        &__box{
          width: 90%;
          margin: auto;
          @extend .e-card;
          height: 100%;
          display: flex;
          justify-content: flex-start;
          max-width: 300px;
          @media (max-width: 720px){
            max-width: 500px;
          }
        }
        &__pic{
          width: 50px;
          height: auto;
        }
      }
    }
    &__table{
      width: 100%;
      padding-top: 20px;
      .l-table{
        width: 100%;
        &__head{
          display: flex;
          @extend .e-card;
          p{
            color: White;
            font-weight: 700;
          }
        }
        &__content{
          display: flex;
          .l-table__cell{
            background-color: unset !important;
            color: White;
          }
        }
        &__cell{
          width: calc(100% / 5);
          display: flex;
          padding: 0 20px;
          justify-content: center;
          border: 1px solid $darkblue;
          background-color: $darkblue;

        }
      }
    }
}




/******************************************
Side bar
*******************************************/
.l-sidebar{
  width: 100%;
  background-color: $darkblue;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  position: relative;
  @media (max-width: 720px){
    display: none;
  }
    &__menu{
      cursor: pointer;
      fill: White;
      margin-left: auto;
      transition: .5s ease;
      margin-right: 20px;
      display: block;
      margin-top: 10px;
      transition-delay: .10s;
    }
    &__profile{
      margin-top: 37px;
      img{
        max-width: 100px;
        width: 100%;
        height: 100px;
        border-radius: 50%;
        display: block;
        margin: auto;
        object-fit: cover;
        border: 7px solid $middleblue;
      }
    }
    &__bottom{
      background-color: #090f1a;
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 50px;
    }
    @media (max-width: 1024px){
      .l-sidebar__menu,
      .l-profile__data,
      .l-item__description{
        display: none;
      }
      .l-sidebar__profile{
        img{
         width: 70px;
         height: 70px;
         border: 4px solid #242a40;
       }
      }
    }
    .l-content__item{
      margin: 20px 0;
    }
}


/*///Modificadores de js ////*/
.l-grid-action{
  grid-template-columns: 150px 1fr;
}

.l-icon-panel{
  transform: rotate(180deg);
}

.l-fix-flex{
  justify-content: center;
}
