@import "settings.css";
@import "utilidades.css";

$darkblue: #141928;
$middleblue: #242a40;
$blue: #5179ff;
$red: #ff6867;
$yellow: #ffcc00;
$lightblue: #7896ce;

$radius: 7px;


.e-card{
  border-radius: 7px;
  background-color: $darkblue;
}



/*****************************************
Dashboard main
******************************************/
.l-dashboard{
  display: grid;
  grid-template-columns: 310px 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  height: 100vh;
  transition: 0.5s cubic-bezier(.68,-0.55,.27,1.55);
  @media (max-width: 1024px){
    grid-template-columns: 80px 1fr;
  }
    &__head{
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 20px;
      input{
        background-color: $darkblue;
        width: 60%;
        border-radius: 7px;
        color: white;
        border: none;
        padding: 2px 10px;
        height: 40px;
      }
    }
    &__content{
      grid-column: 2 / 3;
      grid-row: 2 / 4;
      padding: 20px;
      .l-cards{
        &__item{
          height: 100px;
          width: calc(100% / 3);
        }
        &__box{
          width: 90%;
          margin: auto;
          @extend .e-card;
          height: 100%;
        }
      }
    }
}




/******************************************
Side bar
*******************************************/
.l-sidebar{
  width: 100%;
  background-color: $darkblue;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
    &__menu{
      cursor: pointer;
      fill: White;
      margin-left: auto;
      transition: .5s ease;
      margin-right: 20px;
      display: block;
      margin-top: 10px;
      transition-delay: .10s;
    }
    &__profile{
      margin-top: 10px;
      img{
        max-width: 100px;
        width: 100%;
        height: 100px;
        border-radius: 50%;
        display: block;
        margin: auto;
        object-fit: cover;
        border: 7px solid $middleblue;
      }
    }
    @media (max-width: 1024px){
      .l-sidebar__menu,
      .l-profile__data,
      .l-item__description{
        display: none;
      }
      .l-sidebar__profile{
        img{
         width: 70px;
         height: 70px;
         border: 4px solid #242a40;
       }
      }
    }
    .l-content__item{
      margin: 15px 0;
    }
}


/*///Modificadores de js ////*/
.l-grid-action{
  grid-template-columns: 150px 1fr;
}

.l-icon-panel{
  transform: rotate(180deg);
}

.l-fix-flex{
  justify-content: center;
}
